body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 0.5fr 3fr;
  grid-template-areas:
   "header header header"
   "sidebar content content"
   "footer footer footer"
}

/* HEADER */
header {
  grid-area: header;
  color: rgb(255, 255, 255);
  padding-bottom: 30px;
  text-align: center;
  font-family: "Anta", sans-serif;
  font-size: 2vw;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.863); 
  max-height: 20vw;
  overflow:  hidden;  /* Ocultar fuera del limite */
  line-height: 0.4; /* Para ajustar la separacion entre el texto */
  background-color: rgb(100, 139, 64); /* Color de fondo */
}

header .contenido {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .contenido img {
  margin-right: 30px;
  width: 20vw;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8)); 
}

header .text {
  text-align: left;
}

/* MENU */
header nav {
  text-align: center; /* Centrar los enlaces */
  margin-top: -20px;
}

header nav a {
  display: inline-block; /* Convertir los enlaces en elementos de bloque en línea */
  padding: 10px; /* Espacio alrededor del texto */
  margin: 0 10px; /* Margen entre los enlaces */
  color: white; /* Color del texto */
  text-decoration: none; /* Eliminar el subrayado del texto */
  border-radius: 5px; /* Añadir esquinas redondeadas */
  background-color: rgb(100, 139, 64); /* Color de fondo */
}

header nav a:hover {
  background-color: rgb(80, 119, 44); /* Cambiar el color de fondo al pasar el mouse */
}

/* SIDEBAR */
.sidebar {
  grid-area: sidebar;
  padding: 10px; /* Espacio alrededor */
  margin-top: 1vw; /* Margenes */
  margin-left: 20px;
  border-radius: 5px; /* Esquinas redondeadas */
  list-style-type: none; /* Lista sin puntos */
  background-color: #eeeeeec4; /* Color de fondo */
}

.sidebar li {
  margin-top: 10px; /* Separación superior y entre elementos */
}

.sidebar a {
  display: block; /* Convertir los enlaces en elementos de bloque */
  padding: 8px; /* Espacio alrededor del texto */
  color: white;
  text-decoration: none; /* Eliminar el subrayado del texto */
  border-radius: 5px; /* Añadir esquinas redondeadas */
  background-color: rgb(100, 139, 64); /* Color de fondo */
}

.sidebar a:hover {
  background-color: rgb(80, 119, 44); /* Cambiar el color de fondo al pasar el mouse */
}

/* MAIN CONTENT */
main {
  position: relative; 
  background-color: #eeeeeec4;
  border-radius: 5px;
  padding: 20px;
  grid-area: content;
  margin: 18px 10px;
  font-size:  large;
}

main img {
  max-width: 20vw;
  border-radius: 5px;
  border-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
  margin: 2vw;
}

main .texto {
  grid-area: texto;
}

main .imgAct {
  float: right;
  display: flex;
  flex-direction: column; 
}

main .redes {
  display: flex;
  justify-content: space-around;
  align-items: center;   
}

main .redes img {
  max-width: 2em;
  margin: 5 10px;
}

main .redes img:hover {
  transform: scale(1.2); /* Agrandar la actividad al pasar el mouse */
}

/* FOOTER */
footer {
  grid-area: footer;
  background-color: #333; /* Color de fondo */
  color: white;
  padding: 20px; /* Espacio superior */
  text-align: center;
  z-index: 0; 
}

.contact-info p {
  margin: 5px 0; /* Margen superior */
}

.contact-info strong {
  font-weight: bold; /* Destacar en negrita */
}


/* PARA VENTANAS PEQUEÑAS */
@media only screen and (max-width: 600px) { /* Diferentes ajustes para un ancho de ventana inferior a los 600px */
  body {
    grid-template-columns: 1fr; /* Solo una columna en la cuadrícula */
    grid-template-areas:
      "header"
      "sidebar"
      "content" 
      "footer";
  }

  header .contenido{
    font-size: 11px; /* Tamaño mínimo de fuente */
  }

  header nav a {
    font-size: 14px; /* Tamaño mínimo de fuente */
  }

  header nav {
    padding-top: 10px;
  }

  .sidebar {
    margin-top: 0px; 
    margin-left: 0px;
  }

  .sidebar li {
    text-align: center;
  }

  main {
    padding: 0px 15px;
    margin: 0px 10px;
  }
  
}

@media only screen and (max-width: 550px) { /* Diferentes ajustes para un ancho de ventana inferior a los 550px (telefonos)*/
  header h1 {
    font-size: 30px;
  }

  header h2 {
    display: none;
  }
}

/**********************************************************************************/
/* Estilo general para el desplegable */
.comentarios {
  position: fixed;
  top: 0;
  right: -350px; /* Oculto por defecto */
  bottom: 0;
  width: 350px;
  background-color: #f0f0f0;
  overflow-y: auto;
  transition: right 0.3s ease;
  border-left: 2px solid #000000;
  z-index: 9999; 

}

/* Estilo para el botón del desplegable de comentarios */
#btnComentarios {
  position: fixed; /* Ajustado a "fixed" para que esté en la ventana visible */
  top: 5px;
  right: 0px; /* Ajustado a una posición visible */
  padding: 8px;
  width: 50px;
  height: 50px;
  background-image: url('images/comentarios.png'); /* Ruta de la imagen */
  background-size: contain; /* Contiene la imagen dentro del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  background-size: calc(100% - 5px); 
  background-color: #caad2b;

  border-color: #000000; /* Cambiando el color del borde a negro */
  border-style: solid; /* Agregando el estilo de borde */
  border-width: 2px; /* Definiendo el ancho del borde */
  border-radius: 10px;
  cursor: pointer;
  transition: right 0.3s ease;
}

#btnComentarios:hover {
  background-color: #ac9843;
}



/* Estilo para el panel de comentarios y su contenido*/
#panelComentarios {
  padding: 0px 20px;
}

#panelComentarios h2 {
  font-size: 30px; /* Tamaño de fuente del título */
  text-align: center;
  padding: 20px 10px;
  background-color: #caad2b;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 5px;
  color: #ffffff; /* Color del texto del título */
}

/* Estilos para los artículos dentro del panel de comentarios */
#panelComentarios article {
  margin-bottom: 10px; /* Espacio entre artículos */
  padding: 0px 10px;
  border-radius: 5px;
  background-color: #eeeeee; /* Cambia el color de fondo */
  border: 2px solid #ac9943; /* Borde inferior entre artículos */
}

/* Estilos específicos para el contenido de los artículos */
#panelComentarios article h3 {
  font-size: 18px; /* Tamaño de fuente del título */
  text-decoration: underline;
  color: #333; /* Color del texto del título */
}

#panelComentarios article p {
  font-size: 15px; /* Tamaño de fuente del párrafo */
  color: #000000; /* Color del texto del párrafo */
}

/* Aplica el efecto de desenfoque al eresto de la página*/
.blur {
  filter: blur(2px);
}


/* Estilo para el botón de añadir comentario */
#btnAniadir {
  display: inline-block;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px #333;
  background-color: #caad2b;
  color: #ffffff;
  border-color: #000000; /* Cambiando el color del borde a negro */
  border-style: solid; /* Agregando el estilo de borde */
  border-width: 2px; /* Definiendo el ancho del borde */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
}

#btnAniadir:hover {
  background-color: #ac9843;
}

/* Estilo para el formulario */
#formComentario {
  display: none;
  border: 2px solid #979797; 
  padding: 10px;
  margin-bottom: 80px;
  border-radius: 5PX;
  background-color: #fdf5d0;
}

#formComentario *:not(input[type="submit"]):not(input[type="button"])  {
  margin-bottom: 10px;
  width: 95%;
  min-height: 20px;
}

#formComentario textarea {
  field-sizing: content;  
}

#formComentario #btnEnviarForm,
#formComentario #btnCancelarForm {
  margin: 10px auto; 
  display: block; 
  color: white; 
  border-radius: 4px;
  width: 50%;
  padding: 5px 10px; 
  font-size: medium;
  cursor: pointer; 
}

#formComentario #btnEnviarForm {
  background-color: #4CAF50; 
}

#formComentario #btnCancelarForm {
  background-color: #f44336; 
}
