body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 0.5fr 3fr;
  grid-template-areas:
   "header header header"
   "sidebar content content"
   "footer footer footer"
}

@media only screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr; /* Solo una columna en la cuadrícula */
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }

  header .contenido{
    font-size: 12px; /* Tamaño mínimo de fuente */
  }

  header nav a {
    font-size: 15px; /* Tamaño mínimo de fuente */
  }

  .sidebar li {
    text-align: center;
  }
}

/* HEADER */
header {
  grid-area: header;
  background-color: rgb(100, 139, 64);
  color: rgb(255, 255, 255);
  padding-bottom: 30px;
  text-align: center;
  font-family: "Anta", sans-serif;
  font-size: 2vw;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.863); 
  max-height: 20vw;
  overflow:  hidden;
  line-height: 0.4; /* Para ajustar la separacion entre el texto */
}

header .contenido {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .contenido img {
  margin-right: 30px;
  width: 20vw;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8)); 
}

header .text {
  text-align: left;
}

/* Menu */
header nav {
  text-align: center; /* Centrar los enlaces */
  margin-top: -20px;
}

header nav a {
  display: inline-block; /* Convertir los enlaces en elementos de bloque en línea */
  padding: 10px; /* Añadir espacio alrededor del texto */
  margin: 0 10px; /* Añadir espacio entre los enlaces */
  color: white; /* Color del texto */
  text-decoration: none; /* Eliminar el subrayado del texto */
  border-radius: 5px; /* Añadir esquinas redondeadas */
  background-color: rgb(100, 139, 64); /* Color de fondo */
}

header nav a:hover {
  background-color: rgb(80, 119, 44); /* Cambiar el color de fondo al pasar el mouse */
}

/* SIDEBAR */
.sidebar {
  background-color: #eeeeeec4;
  margin-top: 10px;
  margin-left: 15px;
  grid-area: sidebar;
  border-radius: 5px;
  list-style-type: none; 
  padding: 10px; 
}

.sidebar li {
  margin-top: 10px; /* Separación del tope y entre elementos */
}

.sidebar a {
  display: block; 
  padding: 8px; /* Espacio alrededor del texto */
  color: white;
  text-decoration: none; /* Eliminar el subrayado del texto */
  background-color: rgb(100, 139, 64); /* Color de fondo */
  border-radius: 5px; /* Añadir esquinas redondeadas */
}

.sidebar a:hover {
  background-color: rgb(80, 119, 44); /* Cambiar el color de fondo al pasar el mouse */
}

/* Contenido Principal */
main {
  padding: 20px;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, minmax(20vw, 1fr)); /* Ancho dependiente del ancho de la ventana */
  grid-template-areas:
  "actividad actividad actividad";
  grid-gap: 30px; /* Espacio entre las actividades */
}

.content .actividad {
  border-radius: 10px; /* Esquinas redondeadas */
  text-align: center;
  text-decoration: none; /* Eliminar el subrayado del texto */
  color: #333;
  background-color: #eeeeeec4; /* Color de fondo grisaceo */
  transition: transform 0.3s ease; /* Efecto de transición */
}

.content .actividad:hover {
  transform: scale(1.03); /* Agrandar la actividad al pasar el mouse */
}

.content .actividad img {
  border-top-left-radius: 10px; /* Esquinas redondeadas */
  border-top-right-radius: 10px; /* Esquinas redondeadas */
  width: 100%; /* La imagen se ajusta al ancho del contenedor */
  height: 75%; 
}

.content .actividad h3 {
  padding: 0px 15px;
  font-size: 1.8vw;
}

/* Footer */
footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info strong {
  font-weight: bold;
}